body{
  background:#333;

}

h2 {
  font-family: sans-serif;
  font-size: 36px;
  color:#fff;
}

.container {
  margin: 0 auto;
  width:1000px;

}

.axis-label{
  color:#fff;

}

p {
  color:#fff;
}

#amount {
  color:#fff;
  background:none;
  font-size:14px;
}


.ui-slider {
  width:800px;
  background: none;
}
